<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CustomPC Studio</title>
    <link rel="stylesheet" href="/source/styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/source/styles/style.css">
</head>
<body class="d-flex flex-column min-vh-100">
    
    <header>
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary border fixed-top">
            <div class="container no-select">
                <a class="navbar-brand fw-bold" href="../../index.html">CustomPC Studio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="catalog.html">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link underline-center" href="custom-assembly.html">Индивидуальная сборка</a>
                        </li>
                    </ul>
                    
                    <!-- button group to the right -->
                    <div class="btn-group nav-btn-size" role="group">                       
                        <a href="#"><i class="bi bi-search fs-4 underline-center p-2"></i></a>
                        <a href="#"><i class="bi bi-person-circle fs-4 underline-center p-2"></i></a>
                        <a href="#"><i class="bi bi-cart3 fs-4 underline-center p-2"></i></a>
                    </div>
                </div>
            </div>
        </nav>
            
    </header>


    <section>

        <!-- breadcrumb -->
        <div class="container my-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item no-select"><a href="../../index.html">Главная</a></li>
                    <li class="breadcrumb-item no-select active" aria-current="page">Готовые сборки</li>
                </ol>
            </nav>
        </div>

        <!-- Title -->
        <div class="container my-5">
            <p class="display-4 no-select">Готовые сборки</p>
        </div>

        <!-- Контейнер для фильтра и карточек товаров -->
        <div class="container mb-5">
            <!-- Деление контейнера на две колонки -->
            <div class="row row-cols-2">

                <!-- Фильтр -->
                <!-- Первая колонка для фильтров на 3 колонки для больших экранов (≥lg) и появляющееся по центру всплывающее окно для всех остальных -->
                <div class="col-lg-3 col-6">
                    
                    <!-- Фильтр для <lg -->
                    <!-- эта кнопка появится когда ширина экрана будет md и меньше -->
                    <button class="btn d-lg-none w-90 mb-3" data-bs-toggle="offcanvas" data-bs-target="#filtersOffcanvas"> Фильтры </button>
                    
                    <div class="offcanvas offcanvas-center d-lg-none" tabindex="-1" id="filtersOffcanvas">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title">Фильтры</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                        </div>

                        <div class="offcanvas-body">
                            <div class="accordion" id="filtersAccordionMobile">

                                <!-- Цена -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="priceHeading">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#priceCollapse"> Цена </button>
                                    </h2>
                                    <div id="priceCollapse" class="accordion-collapse collapse show">
                                        <div class="accordion-body">
                                            <input type="range" class="form-range" min="0" max="5000">
                                        </div>
                                    </div>
                                </div>
                                <!-- Процессор -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="cpuHeading">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cpuCollapse"> Процессор </button>
                                    </h2>
                                    <div id="cpuCollapse" class="accordion-collapse collapse show">
                                        <div class="accordion-body">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="i5">
                                                <label class="form-check-label" for="i5">Intel i5</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="r5">
                                                <label class="form-check-label" for="r5">Ryzen 5</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Видеокарта -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="gpuHeading">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#gpuCollapse"> Видеокарта </button>
                                    </h2>
                                    <div id="gpuCollapse" class="accordion-collapse collapse show">
                                        <div class="accordion-body">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="rtx4060">
                                                <label class="form-check-label" for="rtx4060">RTX 4060</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="rx7600">
                                                <label class="form-check-label" for="rx7600">RX 7600</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Фильтр для ≥lg -->
                    <div class="d-none d-lg-block">
                        <div class="accordion" id="filtersAccordionDesktop">
                            <!-- Цена -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="priceHeading">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#priceCollapse"> Цена </button>
                                </h2>
                                <div id="priceCollapse" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <input type="range" class="form-range" min="0" max="5000">
                                    </div>
                                </div>
                            </div>
                            <!-- Процессор -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="cpuHeading">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cpuCollapse"> Процессор </button>
                                </h2>
                                <div id="cpuCollapse" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="i5">
                                            <label class="form-check-label" for="i5">Intel i5</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="r5">
                                            <label class="form-check-label" for="r5">Ryzen 5</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Видеокарта -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="gpuHeading">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#gpuCollapse"> Видеокарта </button>
                                </h2>
                                <div id="gpuCollapse" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="rtx4060">
                                            <label class="form-check-label" for="rtx4060">RTX 4060</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="rx7600">
                                            <label class="form-check-label" for="rx7600">RX 7600</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>

                </div>

                <!-- Карточки товаров и сортировка -->
                <!-- Вторая колонка для карточек товаров на 9 колонок для больших экранов и на 12 колонок для всех остальных -->
                <div class="col-lg-9 col-12">
                    <!-- Сортировка -->
                    <div class="row">
                        <!-- Для выравнивания по правому краю -->
                        <div class="d-flex justify-content-end mb-3">
                            <!-- Дропдаун для выбора параметров сортировки -->
                            <div class="dropdown">
                                <button  class="btn dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false" >
                                    <span id="sortLabel">Популярные</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="sortDropdown">
                                    <li><button class="dropdown-item sort-option" data-value="popular">Популярные</button></li>
                                    <li><button class="dropdown-item sort-option" data-value="new">Новинки</button></li>
                                    <li><button class="dropdown-item sort-option" data-value="expensive">Сначала дорогие</button></li>
                                    <li><button class="dropdown-item sort-option" data-value="cheap">Сначала дешевые</button></li>
                                    <li><button class="dropdown-item sort-option" data-value="comment">С отзывами</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                    <!-- Карты товаров -->
                    <div class="row g-3">

                        <!-- Карта товара -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card m-auto">
                                <img src="/source/images/PC-image-test.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card m-auto">
                                <img src="/source/images/PC-image-test.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card m-auto">
                                <img src="/source/images/PC-image-test.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card m-auto">
                                <img src="/source/images/PC-image-test.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card m-auto">
                                <img src="/source/images/PC-image-test.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card m-auto">
                                <img src="/source/images/PC-image-test.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card m-auto">
                                <img src="/source/images/PC-image-test.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card m-auto">
                                <img src="/source/images/PC-image-test.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                    <a href="#" class="btn">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                        
                
            </div>
        </div>

    </section>



    <footer class="mt-auto text-white py-3">
        <div class="container no-select">
            <div class="row">
                <p class="footer-text-color mb-0">text</p>
            </div>
            <div class="separator my-3"></div>
            <p class="text-center footer-text-color mb-0">Copyright © 2025 CustomPC Studio.</p>
        </div>
    </footer>

    <script src="/source/styles/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/source/styles/sort-btn.js"></script>
</body>
</html>
