{% extends "main/base.html" %} <!-- расширение для base.html -->
{% load static %} <!-- подгрузка пути расположения статики -->

<!-- HERO section -->
{% block section_content %}

    <div class="container">
        <div class="row">
            <div class="col-12 my-5">
                <h2 class="display-5 fw-bold mb-4">О нас</h2>
                <p class="my-4">{{ text_on_page }}</p>

            </div>
        </div>
    </div>

    <div class="container-fluid bg-body-tertiary border py-4 my-4">
        <div class="container">
            <div class="row">
                <p>asdf</p>
                <p>asdf</p>
                <p>asdf</p>
                <p>asdf</p>
                <p>asdf</p>
            </div>
        </div>
    </div>



{% endblock section_content %}

 
