{% extends "base.html" %} <!-- расширение для base.html -->
{% load static %} <!-- подгрузка пути расположения статики -->

<!-- HERO section -->
{% block section_content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 my-5">
                <h1 class="display-5 fw-bold mb-4">Соберем для тебя идеальный ПК</h1>
                <p class="my-4">У нас — готовые конфигурации для игр и работы, а также удобный конструктор для индивидуальной сборки. Бесплатная сборка и проверка на совместимость.</p>
                <button type="button" class="btn">Заказать индивидуальную сборку</button>
            </div>
            <div class="col-lg-6 col-12 my-5">
                <img src="{% static "deps/images/image not found 2.jpg" %}" class="card-img-top" alt="image-not-found-not-found">
            </div>
        </div>
    </div>

    <div class="container-fluid bg-body-tertiary border py-4 my-4">
        <div class="container">
            <div class="row">
                <p>Текст</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
            </div>
        </div>
    </div>

    <div class="container block px-3 py-3 my-4">
        <div class="row row-cols-2">
            <div class="col">
                <h4 class="m-0 my-2">Нужна помощь с выбором?</h3>
                    <p class="m-0 my-2">Наши консультанты помогут подобрать конфигурацию под ваш бюджет и задачи.</p>
            </div>
            <div class="col">

            </div>


        </div>
    </div>

{% endblock section_content %}

 
