{% extends "main/base.html" %}
{% load static %}

{% block section_content %}

    <!-- breadcrumb -->
    <div class="container my-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item no-select"><a href="{% url "main:index" %}">Главная</a></li>
                <li class="breadcrumb-item no-select"><a href="{% url "goods:index" %}">Каталог</a></li>
                <li class="breadcrumb-item no-select active" aria-current="page">{{ product.name }}</li>
            </ol>
        </nav>
    </div>

{% endblock section_content %}