<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CustomPC Studio</title>
    <link rel="stylesheet" href="/source/styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/source/styles/style.css">
</head>
<body class="d-flex flex-column min-vh-100">
    
    <header>

        <nav class="navbar navbar-expand-lg bg-body-tertiary border fixed-top">
            <div class="container no-select">
                <a class="navbar-brand fw-bold" href="/">CustomPC Studio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                        <li class="nav-item">
                            <a class="nav-link underline-center" href="source/pages/catalog.html">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link underline-center" href="source/pages/custom-assembly.html">Индивидуальная сборка</a>
                        </li>
                    </ul>
                    
                    <!-- button group to the right -->
                    <div class="btn-group nav-btn-size" role="group">                       
                        <a href="#"><i class="bi bi-search fs-4 underline-center p-2"></i></a>
                        <a href="#"><i class="bi bi-person-circle fs-4 underline-center p-2"></i></a>
                        <a href="#"><i class="bi bi-cart3 fs-4 underline-center p-2"></i></a>
                    </div>
                </div>
            </div>
        </nav>
            
    </header>


    <section>

        <!-- HERO section -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 my-5">
                    <h1 class="display-5 fw-bold mb-4">Соберем для тебя идеальный ПК</h1>
                    <p class="my-4">У нас — готовые конфигурации для игр и работы, а также удобный конструктор для индивидуальной сборки. Бесплатная сборка и проверка на совместимость.</p>
                    <button type="button" class="btn">Заказать индивидуальную сборку</button>
                </div>
                <div class="col-lg-6 col-12 my-5">
                    asdf
                </div>
            </div>
        </div>

        <div class="container-fluid bg-body-tertiary border py-4 my-4">
            <div class="container">
                <div class="row">
                    <p>asdf</p>
                    <p>asdf</p>
                    <p>asdf</p>
                    <p>asdf</p>
                    <p>asdf</p>
                </div>
            </div>
        </div>

        <div class="container block px-3 py-3 my-4">
            <div class="row row-cols-2">
                <div class="col">
                    <h4 class="m-0 my-2">Нужна помощь с выбором?</h3>
                        <p class="m-0 my-2">Наши консультанты помогут подобрать конфигурацию под ваш бюджет и задачи.</p>
                </div>
                <div class="col">

                </div>


            </div>
        </div>


    </section>



    <footer class="mt-auto text-white py-3">
        <div class="container no-select">
            <div class="row row-cols-lg-4 row-cols-1 py-3">
                <div class="col">
                    <h5 class="fc-light">CustomPC Studio</h5>
                    <p class="">Интернет-магазин готовых ПК и комплектующих. Сборка, тестирование, гарантийная поддержка.</p>
                </div>
                <div class="col">
                    <h5 class="fc-light">Информация</h5>
                    <p></p>
                </div>
                <div class="col">
                    <h5 class="fc-light">Компания</h5>
                    <p></p>
                </div>
                <div class="col">
                    <h5 class="fc-light">Покупателям</h5>
                    <p></p>
                </div>
            </div>
            <div class="separator my-3"></div>
            <p class="text-center footer-text-color mb-0">Copyright © 2025 CustomPC Studio.</p>
        </div>
    </footer>

    <script src="/source/styles/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>